<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.son.board00.replyMapper">
	<insert id="insert" parameterType="com.son.board00.vo.reply.ReplyVO">
		insert into r0328 values(null, #{b_no}, (select name from m0328 where email = #{email}), #{content}, #{email}, now())
	</insert>
	
	<select id="selectAllbyBno" resultType="com.son.board00.vo.reply.ReplyVO" parameterType="String">
		select * from r0328 where b_no = #{b_no} order by r_no asc
	</select>
	
	<update id="update" parameterType="com.son.board00.vo.reply.ReplyVO">
		update r0328 set content = #{content} where r_no = #{r_no}
	</update>
	
	<select id="selectEmailbyRno" parameterType="String" resultType="String">
		select email from r0328 where r_no = #{r_no}
	</select>
</mapper>
